[pull]
    rebase = false
[user]
    email = az6980522@gmail.com
    name = yuanyuyuan
[init]
    defaultBranch = main
[core]
    quotepath = false
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[merge]
    conflictstyle = diff3
    tool = vimdiff
[diff]
    colorMoved = default
[mergetool]
    keepBackup = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
